<article class="h-entry" id="post-{{ date | date: dates.iso8601 }}">
  <div class="e-content">
    <figure>
      {%- if data.imageUrl contains "youtube.com" %}
      <div aria-details="post-{{ date | date: dates.iso8601 }}">
        {% youtube_embed data.imageUrl %}
      </div>
      {%- else %}
      <img src="{{ data.imageUrl }}" alt="{{ data.imageAlt }}" aria-details="post-{{ date | date: dates.iso8601 }}" class="u-photo">
      {%- endif %}

      <figcaption>
        <p><b>Credit:</b> {{ data.credit | markdown: "inline" }}</p>
      </figcaption>
    </figure>

    <div id="post-{{ date | date: dates.iso8601 }}">{{ content }}</div>
  </div>

  <hr>

  <footer>
    <p>
      <small>
        <a href="{{ data.canonicalUrl }}" rel="canonical" class="p-name u-uid u-url">{{ data.title }}</a> was published on <time class="dt-published" datetime="{{ date | date }}">{{ date | date: dates.display }}</time>.
        {%- if data.hdImageUrl %}
        A <a href="{{ data.hdImageUrl }}">high resolution version</a> is available on <a href="https://apod.nasa.gov" rel="home">apod.nasa.gov</a>.
        {%- endif %}
      </small>
    </p>
  </footer>
</article>
