<article class="h-entry" id="post-{{ date | date: dates.iso8601 }}">
  <figure>
    <img src="{{ data.image_url }}" alt="{{ data.title }}" aria-details="post-{{ date | date: dates.iso8601 }}" class="u-photo">

    <figcaption>
      <p><a href="{{ data.canonical_url }}" rel="canonical" class="p-name u-uid u-url">{{ data.title }}</a> was published on <time class="dt-published" datetime="{{ date | date: dates.iso68601_with_time_and_zone }}">{{ date | date: dates.display }}</time>. A <a href="{{ data.hd_image_url }}">high resolution version</a> is available on <a href="https://apod.nasa.gov" rel="home">apod.nasa.gov</a>.</p>
    </figcaption>
  </figure>

  <div class="e-content" id="post-{{ date | date: dates.iso8601 }}">
    {{ content }}

    <hr>

    <p><small><b>Image credit and/or <a href="https://apod.nasa.gov/apod/lib/about_apod.html#srapply">copyright</a>:</b> {{ data.credit }}</small></p>
  </div>
</article>
